html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.full {
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.container {
    height: fit-content;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    gap: 32px;
    align-items: center;
}

.section {
    right: 0;
    height: fit-content;
    flex-direction: row;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0;
    padding-bottom: 5%;
    display: flex;
    flex: 1;
    gap: 32px;
    align-items: center;
}

.section2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 48px;
    background-color: #F9FAF8;
}

.subsection {
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

div.object {
    border: 5px solid #3882F6;
    border-radius: 10%;
    width: 125px;
    height: 125px;
}
  
.item1 {
    color: #F9FAF8;
    width: fit-content;
    height: fit-content;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.links{
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 24px;
    margin-left: auto;
}

.item2 {
    color: #E5E7EB;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    height: fit-content;
    width:fit-content;
}

.item3 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: fit-content;
    width: fit-content;
    margin-bottom: 0px;
}

.footer {
    color:#E5E7EB;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}

.footer p {
    height: fit-content;
    width: fit-content;
}

.quote {
    background-color: #E5E7EB;
    color:#1F2937;
    padding-left: 15%;
    padding-right: 15%;
}

.action {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.blue {
    background-color:#3882F6;
    color:#F9FAF8;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    border-radius: 10px;
    gap: 24px;
}

.blue div {
    display: flex;
    flex-direction: column;
}

.sign_up {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 8px;
}

img {
    width: 60%;
    display: flex;
    margin-right: auto;
}

.call {
    border: 5px solid #F9FAF8;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    width: 120px;
    padding: 8px;
    border-radius: 10px;
    align-self: center;
    margin-left: auto;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    width: 120px;
    padding: 8px;
    border: none;
    border-radius: 10px;

}

figcaption {
    text-align: center;
    color: #1F2937;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5px;
}

figure {
    text-align: center;
    margin: 0px;
}

h3 {
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #1F2937;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#F9FAF8;
    margin-bottom: 0px;
}

#header,
#footer {
    background: #1F2937;
}
